<!DOCTYPE html>
<html lang="en" ng-app="ArenaApp">
    <head>
        <title>Arena</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/topbar.css" />
        <link rel="stylesheet" href="/css/mapPage.css" />

        <!--
        <link rel="stylesheet" href="css/style.css" > 
        <link rel="stylesheet" href="css/settings.css" />
        <link rel="stylesheet" href="css/game.css" />
        <link rel="stylesheet" href="css/match_calendar.css" />
        <link rel="stylesheet" href="/css/fighters.css" />
        -->
    </head>
    <body ng-controller="ArenaCtrl">
        <div ng-if="!checkLoad()">
            <h1>Loading... </h1>
        </div>
        <div ng-if="checkLoad()">
            <!-- Top bar used for main navigation common to all -->
            <div id="info-bar">
                <div id="gold-container" class="stat-container">
                    <img src="/icons/coin-2.png" data-placement="bottom" data-toggle="tooltip" data-title="Money"/>
                    <span id="gold"> GoldGoesHere</span>
                </div>

                <div class="stat-container">
                    Day {{ timestep }}
                </div>

                <div class="icon-container">
                    <span ng-if="admin" class="glyphicon glyphicon-cog" role="button" data-toggle="modal" data-target="#settings-modal">
                </div>

            </div>
            <!-- Under top bar, used to select / cycle through characters controlled by the player-->
            <div id="characterSelector-container">
                <div class="portraitList-container" ng-repeat="char in characters">
                    <!-- Show black border with grey background if character not selected -->
                    <div ng-if="selectedCharacter.id !== char.id" class="characterPortrait" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="{{char.name}}" ng-click="selectCharacter(char)">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <!-- Show orange border with gold background if character us selected -->
                    <div ng-if="selectedCharacter.id === char.id" class="selectedCharacterPortrait" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="{{char.name}}" ng-click="selectCharacter(char)">
                        <span class="glyphicon glyphicon-user"></span>

                    </div>
                    <span ng-if="selectedCharacter.id === char.id" class="badge" data-toggle="modal" data-target="#deleteCharacter-modal">DEL</span>
                </div>
                <!-- show flickering button if player has no characters -->
                <div class="characterPortrait characterPortrait-active flicker"  ng-if="!characters.length"  data-toggle="modal" data-target="#createCharacter-modal" ng-click="setCharName()">
                    <span class="glyphicon glyphicon-plus" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="Create New Character"></span>
                </div>
                <!-- show regular create button if player has characters -->
                <div class="characterPortrait characterPortrait-active" ng-if="characters.length"  data-toggle="modal" data-target="#createCharacter-modal" ng-click="setCharName()">
                    <span class="glyphicon glyphicon-plus" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="Create New Character"></span>
                </div>
            </div>


            <div id="deleteCharacter-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title center">Delete {{selectedCharacter.name}}? </h3>
                        </div>
                        <div class="modal-body">
                            <p class="btn btn-danger" ng-click="deleteCharacter()"> Yes </p>
                            <p class="btn btn-primary" ng-click="hideModals()"> Cancel </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="createCharacter-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title center">{{newCharName}} <span class="pointer glyphicon glyphicon-refresh" ng-click="setCharName()"></span></h3>
                        </div>
                        <div class="modal-body">
                            <p class="btn btn-primary" ng-click="createCharacter()"> Create Character </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="settings-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title">Settings</h3>
                        </div>
                        <div class="modal-body">
                            <p class="btn btn-primary" ng-click="advanceTimestep()"> Advance Timestep</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/arena.js"></script>
        <script src="js/api_service.js"></script>
        <script src="js/arena_ctrl.js"></script>
        <script src="js/nameList.js"></script>
    </body>
</html>
