<!DOCTYPE html>
<html lang="en" ng-app="ArenaApp">
    <head>
        <title>Arena</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/settings.css" />
        <link rel="stylesheet" href="css/game.css" />
        <link rel="stylesheet" href="css/match_calendar.css" />
        <link rel="stylesheet" href="/css/topbar.css" />
        <link rel="stylesheet" href="/css/fighters.css" />
    </head>
    <body ng-controller="ArenaCtrl">

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/arena.js"></script>
        <script src="js/api_service.js"></script>
        <script src="js/arena_ctrl.js"></script>
    </body>
</html>
