<!DOCTYPE html>
<html lang="en" ng-app="ArenaApp">
    <head>
        <title>Arena</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/topbar.css" />
        <link rel="stylesheet" href="/css/mapPage.css" />

        <!--
        <link rel="stylesheet" href="css/style.css" > 
        <link rel="stylesheet" href="css/settings.css" />
        <link rel="stylesheet" href="css/game.css" />
        <link rel="stylesheet" href="css/match_calendar.css" />
        <link rel="stylesheet" href="/css/fighters.css" />
        -->
    </head>
    <body ng-controller="ArenaCtrl">
        <div ng-if="!checkLoad()">
            <h1>Loading... </h1>
        </div>
        <div ng-if="checkLoad()">
            <!-- Top bar used for main navigation common to all -->
            <div id="info-bar">
                <div id="gold-container" class="stat-container">
                    <img src="/icons/coin-2.png" data-placement="bottom" data-toggle="tooltip" data-title="Money"/>
                    <span id="gold"> GoldGoesHere</span>
                </div>

                <div class="stat-container">
                    Day {{ timestep }}
                </div>

                <div class="icon-container">
                    <span ng-if="admin" class="glyphicon glyphicon-cog" role="button" data-toggle="modal" data-target="#settings-modal">
                </div>

            </div>
            <!-- Under top bar, used to select / cycle through characters controlled by the player-->
            <div id="characterSelector-container">
                <div class="portraitList-container" ng-repeat="char in characters">
                    <!-- dynamic css for selected / unselected character portraits -->
                    <div class="{{viewCharActive(char.id)}} {{viewCharacterSelectLock()}}" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="{{char.name}} {{char.family_name}}" ng-click="selectCharacter(char)">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <span ng-if="selectedCharacter.id === char.id" class="badge" data-toggle="modal" data-target="#deleteCharacter-modal">DEL</span>
                </div>
                <!-- show flickering button if player has no characters -->
                <div class="createCharButton {{viewCharButtonActive()}} {{viewCharButtonFlicker()}}" ng-if="characters.length < (characterCap)"  data-toggle="modal" data-target="#createCharacter-modal" ng-click="setCharNames()">
                    <div bs-tooltip data-toggle="tooltip" data-placement="right" data-original-title="Create New Character">
                        <span class="glyphicon glyphicon-plus" ></span>
                    </div>
                </div>
                <!-- show greyed out create button if player has reached character cap -->
                <div class="createCharButton disabled" ng-if="characters.length > (characterCap-1)" >
                    <span class="glyphicon glyphicon-plus" bs-tooltip data-toggle="tooltip" data-placement="right" data-original-title="Character Limit Reached"></span>
                </div>
            </div>

            <!-- MAIN MAP -->

            <div id="worldMap-container">

                <div class="provinceArrows {{viewArrowTwinkle()}}" ng-click="cycleProvinceLeft()" ng-if="viewRegionSlideStatus==='off'">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </div>
                <div id="provinceTitle">
                    <h1>{{selectedProvince.name.toTitleCase()}} {{selectedProvince.index + 1}} / 5</h1>
                </div>
                <div class="provinceArrows {{viewArrowTwinkle()}}" ng-click="cycleProvinceRight()" ng-if="viewRegionSlideStatus==='off'">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <div id="mapChart" class="container-fluid">
                    <div class="row {{viewRegionSlide()}}">
                        <!-- If character has a location or have no characters, don't need to spawn in -->
                        <div class="col-md-3">
                            <div id="capital" class="{{viewRegionFlicker()}} {{viewCharacterPresent(selectedProvince.capital)}}" data-toggle="modal" data-target="{{locationModalTrigger()}}" ng-click="selectLocation(selectedProvince.capital)">
                                <span class="glyphicon glyphicon-home" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="{{selectedProvince.capital.toTitleCase()}}"></span>
                            </div>
                        </div>
                        <div class="col-md-3" ng-repeat="region in selectedProvince.regions">
                            <div id="region" class="{{viewRegionFlicker()}} {{viewCharacterPresent(region)}}" data-toggle="modal" data-target="{{locationModalTrigger()}}" ng-click="selectLocation(region)">
                                <span class="glyphicon glyphicon-tent" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="{{region.toTitleCase()}}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--- MODALS -->

            <div id="nearbyRegion-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title center">{{selectedRegion.toTitleCase()}}</h3>
                        </div>
                        <div class="modal-body">
                            {{selectedRegion.toTitleCase()}} is in the same province as {{selectedCharacter.name.toTitleCase()}} {{selectedCharacter.family_name.toTitleCase()}}<br> 

                        </div>
                        <div class="modal-footer">
                            <p class="btn btn-purple" ng-click=""> Inspect </p>
                            <p class="btn btn-warning" ng-click="promptTravel()"> Travel </p>
                            <p class="btn btn-primary" ng-click="hideModals()"> Cancel </p>
                        </div>
                        <div ng-if="toggleTravelInfo" class="modal-body">
                            Traveling to {{selectedRegion.toTitleCase()}} will take 2 turns. 
                        </div>
                        <div ng-if="toggleTravelInfo" class="modal-footer">
                            <p class="btn btn-warning" ng-click="beginTraveling()"> Begin Traveling </p>
                            <p class="btn btn-primary" ng-click="hideModals()"> Cancel </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="distantRegion-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title center">{{selectedRegion.toTitleCase()}} </h3>
                        </div>
                        <div class="modal-body">
                            {{selectedRegion.toTitleCase()}} is in a different province than {{selectedCharacter.name.toTitleCase()}} {{selectedCharacter.family_name.toTitleCase()}}<br> 
                        </div>
                        <div class="modal-footer">
                            <p class="btn btn-purple" ng-click=""> Inspect </p>
                            <p class="btn btn-warning" ng-click="promptTravel()"> Travel </p>
                            <p class="btn btn-primary" ng-click="hideModals()"> Cancel </p>
                        </div>
                        <div ng-if="toggleTravelInfo" class="modal-body">
                            Traveling to {{selectedRegion.toTitleCase()}} will take 4 turns. 
                        </div>
                        <div ng-if="toggleTravelInfo" class="modal-footer">
                            <p class="btn btn-warning" ng-click="beginTraveling()"> Begin Traveling </p>
                            <p class="btn btn-primary" ng-click="hideModals()"> Cancel </p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="spawnCharacter-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title center">Spawn {{selectedCharacter.name}} {{selectedCharacter.family_name}} in {{selectedRegion.toTitleCase()}}? </h3>
                        </div>
                        <div class="modal-body">
                            A new character may spawn in any region. Choose carefully.<br> 
                        </div>
                        <div class="modal-footer">
                            <p class="btn btn-success" ng-click="spawnCharacter()"> Yes </p>
                            <p class="btn btn-primary" ng-click="hideModals()"> Cancel </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="deleteCharacter-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title center">Delete {{selectedCharacter.name}} {{selectedCharacter.family_name}}? </h3>
                        </div>
                        <div class="modal-body">
                            <p class="btn btn-danger" ng-click="deleteCharacter()"> Yes </p>
                            <p class="btn btn-primary" ng-click="hideModals()"> Cancel </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="createCharacter-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title center">{{newCharName}} <span class="pointer glyphicon glyphicon-refresh" ng-click="setCharName()"></span>

                            {{newCharFamilyName}}
                            <span ng-if="!characters.length" class="pointer glyphicon glyphicon-refresh" ng-click="setCharFamilyName()"></span>
                            </h3>
                        </div>
                        <div class="modal-body">
                            <p class="btn btn-primary" ng-click="createCharacter()"> Create Character </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="settings-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title">Settings</h3>
                        </div>
                        <div class="modal-body">
                            <p class="btn btn-primary" ng-click="advanceTimestep()"> Advance Timestep</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/arena.js"></script>
        <script src="js/api_service.js"></script>
        <script src="js/arena_ctrl.js"></script>
        <script src="js/nameList.js"></script>
        <script src="js/provinceList.js"></script>

    </body>
</html>
