<!DOCTYPE html>
<html lang="en" ng-app="ArenaApp">
    <head>
        <title>Encounter</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/topbar.css" />
        <link rel="stylesheet" href="/css/encounter.css" />
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

        <!--
        <link rel="stylesheet" href="css/style.css" > 
        <link rel="stylesheet" href="css/settings.css" />
        <link rel="stylesheet" href="css/game.css" />
        <link rel="stylesheet" href="css/match_calendar.css" />
        <link rel="stylesheet" href="/css/fighters.css" />
        -->
    </head>
    <body ng-controller="EncounterCtrl" ng-cloak class="ng-cloak">
        <!-- Top bar used for main navigation common to all -->
        <div id="info-bar">
            <div class="stat-container">
                    <!-- <img src="/icons/coin-2.png" data-placement="bottom" data-toggle="tooltip" data-title="Money"/>-->
                    <span class="fa fa-circle yellow" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="Gold"></span>
                    <span class="currency_value"> 100</span>
                    <span class="fa fa-star indigo" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="Renown"></span>
                    <span class="currency_value"> 10</span>
                    <span class="fa fa-eye-slash grey" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="Stealth"></span>
                    <span class="currency_value"> 10</span>
                    <span class="fa fa-bolt red" bs-tooltip data-toggle="tooltip" data-placement="bottom" data-original-title="Combat"></span>
                    <span class="currency_value"> 1 / 1</span>

                </div>


                <div class="stat-container">
                    Day {{ timestep }}
                </div>

                <div class="icon-container">
                    <!--<span class="glyphicon glyphicon-fire" role="button" ng-click="redirectToEncounter()"></span> -->
                    <span ng-if="admin" class="glyphicon glyphicon-cog" role="button" data-toggle="modal" data-target="#settings-modal"></span>
                    <span class="glyphicon glyphicon-log-out" role="button" ng-click="logout()"></span>
                    
                </div>

        </div>
        <!-- playing area -->

        <div class="container-fluid">
            <div id="topCards">
                <div class="card" ng-repeat="card in playerCards"> <!-- can't do ng-repeat since ng-bind-html doesn't accept variables -->
                    <div class="topLeftCardCorner">
                        {{card.value}} <span class="cardSuit" ng-bind-html="card.suit_symbol"></span>
                    </div>
                    <div class="bottomRightCardCorner">
                        {{card.value}} <span class="cardSuit" ng-bind-html="card.suit_symbol"></span>
                    </div>

                </div>
                <div class="dice">
                        <i class="fa fa-first-order {{spinDice}}" ng-click="stopDice()"></i>
                </div>
                <div ng-if="diceValue" class="dice_text" ng-click="stopDice()">{{diceValue}}</div>
            </div>
            <div id="middleCards">
                <div class="card" ng-repeat="card in tableCards"> <!-- can't do ng-repeat since ng-bind-html doesn't accept variables -->
                    <div class="topLeftCardCorner">
                        {{card.value}} <span class="cardSuit" ng-bind-html="card.suit_symbol"></span>
                    </div>
                    <div class="bottomRightCardCorner">
                        {{card.value}} <span class="cardSuit" ng-bind-html="card.suit_symbol"></span>
                    </div>
                </div>
            </div>
            <div id="bottomCards">
                <div class="card" ng-repeat="card in opponentCards"> <!-- can't do ng-repeat since ng-bind-html doesn't accept variables -->
                    <div class="topLeftCardCorner">
                        {{card.value}} <span class="cardSuit" ng-bind-html="card.suit_symbol"></span>
                    </div>
                    <div class="bottomRightCardCorner">
                        {{card.value}} <span class="cardSuit" ng-bind-html="card.suit_symbol"></span>
                    </div>
                </div>
            </div>
            <div id="midCards" class="row">
            </div>
            <div id="bowBottomCards" class="row">
            </div>
        </div>

        <!-- Modals -->
        <div id="settings-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Settings</h3>
                    </div>
                    <div class="modal-body">
                        <!--<p class="btn btn-primary" ng-click="advanceTimestep()"> Advance Timestep</p> -->
                    </div>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/arena.js"></script>
        <script src="js/api_service.js"></script>
        <script src="js/encounter_ctrl.js"></script>
        <script src="js/pokersolver/pokersolver.js"></script>

    </body>
</html>