<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="1001549905746-m06iat5mj9jjj1u73s109pdjmhd8vg6o.apps.googleusercontent.com">
    <title>Arena | Login</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/login.css" />
</head>
<body>
    <div id="main-container">
        <div id="login-container">
            <h3 id="login-instructions">Login to Vaulterra</h3>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/login.js"></script>
</body>
</html>
