<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="801827873613-t4mgef8ift15vj8m5tn423pp7ogldn17.apps.googleusercontent.com">
    <title>Arena | Login</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/login.css" />
</head>
<body>

    <div id="main-container">
        <div id="login-container">
            <h3 id="login-instructions">Login to Vaulterra</h3>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <div
              class="fb-like"
              data-share="true"
              data-width="450"
              data-show-faces="true">
            </div>
        </div>

    </div>



    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/login.js"></script>
</body>



<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '641182129386445',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</html>
