/* Character Portraits + Character Selection Bar START */
#topCards {
    width: 333px; /*can be in percentage also.*/
    height: 173px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;

}

#middleCards {
	width: 833px; /*can be in percentage also.*/
    height: 173px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
}

.dice{
	position: relative;
	display: inline-block;
	top: -45px;
	left: 30px;
	text-align: left;
}
.dice .fa {
	font-size: 70px;
	cursor: pointer;

}

.dice_text{
	position: relative;
	left: 140px;
	top: -100px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-align: center;
	cursor: pointer;
}

#bottomCards {
	width: 333px; /*can be in percentage also.*/
    height: 173px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
}


.ng-cloak { 
	display: none !important; 
}

.card{
	width: 89px;
	height: 148px;
	display: inline-block;
	border: thick black solid;
	border-radius: 5px;
	background: grey;
	font-size: 27px;
	position: relative;
	margin-left: 20px;
	text-align: left;

}

.topLeftCardCorner {
	position: absolute;
	left: 5px;
	top: -20px; 
	display: inline-block;
}

.bottomRightCardCorner {
	position: absolute;
	top: 97px; 
	display: inline-block;
	transform: rotateZ(180deg);
	width: 67px;
	left: 11px;
}

.cardSuit {
	top: 4px;
	font-size: 40px;
	margin-left: -10px;
	position: relative;
}