#hover {
	cursor: pointer;
}

#prevFighterArt {
	height: 90%;
}

#prevFighterBox {
	position: relative;
	height: 200px;
	width: 15%;
	
	overflow: none;
	text-align: top;
}
#skillModalBody {
	height: 200px;
}
#skillArt {
	height: 50px; 
	width: 50px; 
	display: inline-block;
	position: relative; 
	cursor: pointer;
}

#skillBonusContainer{
	display: inline-block;
	position: relative;
	text-align: center;
}

#skillEffectText{
	
}

#techEffectText{
	height: 65px;
	text-align: left;
	line-height: 15px;
	overflow: scroll;
}

#techPreconditionText {
	overflow: scroll;
	height: 65px;
	margin-top: 10px;
	text-align: left;
	line-height: 15px;
}
#selectedPlan {
	border: thick red solid;
}

#nextFighterBox {
	position: relative;
	height: 200px;
	width: 15%;

	overflow: none;
	text-align: top;
}

#slotModalButtons {
	text-align: left;
}

#selectedFighterBox {
	position: relative;
	height: 400px;
	width: 30%;
	
	overflow: none;
	text-align: top;
}

#managedFighterBox {
	position: relative;
	height: 400px;
	width: 100%;
	overflow: none;
	text-align: top;
}

#techBox{
	height: 50px;
}

#techBook {
	height: 250px;
	overflow: scroll;
	width: 100%;
}

#techSlots {
	left: -10px;
	height: 60px;
}
#techSlotArt{
	height: 50px;
	border-radius: 10%;
}

#ultSlot {
	left: 0px;
	height:70px;
}

#techInfoBoxes{
}

#techInfoArt {
	height: 100px;
	border-radius: 20%;
	text-align: center;
}

#fiParaInfoArt {
	height: 50px;
	border-radius: 20%;
}

#ultSlotArt {
	height: 70px;
	border-radius: 10%;
}

#techniqueBox {
	height:375px;
}

#managedFighterArt {
	height: 200px;
}

#modalBody{
	height: 200px;
}

#traitArt{
	width: 60px;
	border-radius: 10%;
}

#nextFighterArt {
	height: 200px;
}

#animationBox {
	width: 100%;
	height: 150px;

}

#bonusBox{
	height:80px;
}

#rangeBox{
	text-align: center;
	height:80px;

}

@keyframes rotateRight {
	0%{
		transform: rotate(0deg);
	} 100%{
		transform: rotate(90deg);
	}
}

@keyframes rotateLeft {
	0%{
		transform: rotate(0deg);
	} 100%{
		transform: rotate(-90deg);
	}
}

@keyframes rotateRightFeint {
	0%{
		transform: rotate(0deg);
	} 100%{
		transform: rotate(45deg);
	}
}

@keyframes slideRight {
	0% {
		opacity: 1;
		left: -50px;
	}
	100% {
		opacity: 1;
		left: 150px;
	}
}

@keyframes slideRightSew {
	0% {
		opacity: 1;
		left: 7%;
	}
	100% {
		opacity: 1;
		left: 32%;
	}
}

@keyframes slideRightWall {
	0% {
		opacity: 1;
		left: 14%;
	}
	40%{
		left: 14%;
	}
	100% {
		opacity: 1;
		left: 28%;
	}
} 

@keyframes slideRightFeint {
	0% {
		opacity: 1;
		left: 11%;
	}
	100% {
		opacity: 1;
		left: 17%;
	}
}
@keyframes slideRightGaze {
	0% {
		opacity: 1;
		left: 15%;
	}
	100% {
		opacity: 1;
		left: 30%;
	}
}
@keyframes slideRightStrike {
	0% {
		opacity: 1;
		left: 0px;
	}
	100% {
		opacity: 1;
		left: 150px;
	}
}

@keyframes slideRightSpit {
	0% {
		opacity: 1;
		left: 10px;
	}
	100% {
		opacity: 1;
		left: 100px;
	}
}
@keyframes rotateRightDelay {
	0%{

	}
	49%{

	}
	50%{
		transform: rotate(0deg);
	} 100%{
		transform: rotate(90deg);
	}
}

@keyframes slideRightDelay {
	0%{
		left: -50px;
		opacity: 0;
	}
	49%{
		left: -50px;
		opacity: 0;
	}
	50% {
		opacity: 1;
		left: -50px;
	}
	100% {
		opacity: 1;
		left: 150px;
	}
}

@keyframes growDelay {
	0%{
		left: -50px;
		opacity: 0;
	}
	49%{
		left: -50px;
		opacity: 0;
	}
	50% {
		opacity: 1;
		left: -50px;
		height: 50px;
	}
	75% {
		opacity: 1;
		left: 0px;
		height: 100px;
	}
	100% {
		opacity: 1;
		left: -50px;
		height: 50px;
	}
}
@keyframes grow {
	0% {
		opacity: 1;
		left: -50px;
		height: 50px;
	}
	100% {
		opacity: 1;
		left: 0px;
		height: 100px;
	}
}

@keyframes spin {
	0%{
		opacity: 1;
		transform: rotate(0deg);
	} 100%{
		opacity: 1;
		transform: rotate(360deg);
	}
}

@keyframes squeeze {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
		width: 25px;
		left: 153px;
	}
	100%{
		opacity: 1;
		width: 50px;
	}
}

@keyframes flipX {
	0%{

	}
	49% {
		transform: rotateX(0deg);
	}
	50%{
		transform: rotateX(-180deg);
	}
	99% {
		transform: rotateX(-180deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

@keyframes strike {
	0%{
		width: 50px;
	}
	70%{
		width: 50px;
	}
	100%{
		width: 100px;
	}
}

@keyframes crush {
	0%{
		transform: scaleY(1);
	}
	100%{
		transform: scaleY(0.1);
	}
}

@keyframes jump {
	0%{
		top: 160px;
	}
	100%{
		top: 90px;
	}
}

@keyframes jumpStrike {
	0%{
		top: 160px;
	}
	70%{
		top: 90px;
	}
	100%{
		top: 160px;
	}
}

/* ----------- techAnimations START------------ */


#prayer_of_fortitudeAnim{
	height: 40px;
	position: absolute;
	left: 50px;
	top: 160px;
}

#feintAnim {
	height: 100px;

	opacity: 0;
	position: absolute;
	animation: slideRightFeint 0.45s 0s linear alternate infinite,
				rotateRightFeint 0.45s 0s linear alternate infinite;
}

#cobra_strikeAnim{
	height: 50px;
	width:  100px;
	position: absolute;

	animation: slideRightSpit 0.9s 0s linear infinite,
				strike 0.9s 0s linear infinite;
}

#flyingAnim{
	z-index: -1;
	top: 160px;
	left: 40px;
	height: 50px;
	position: absolute;
	animation: jump 0.45s 0s linear alternate infinite;
}

#jumping_strikeAnim {
	height: 50px;
	transform: scaleX(-1);
	position: absolute;
	animation: slideRightStrike 0.9s 0s linear infinite,
				jumpStrike 0.9s 0s linear infinite;
}

#blood_rageAnim{
	top: 120px;
	left: 30px;
	height: 40px;
	position: absolute;
}
#maulAnim{
	left: 140px;
	height: 50px;
	position: absolute;
	z-index: 100;
	animation: crush 0.22s 0s linear alternate infinite;
}
#embarrassAnim{
	left: 60px;
	height: 100px;
	position: absolute;
	z-index: 100;
}
#turtleAnim{
	transform: scaleX(-1);
	position: absolute;
	height: 50px;
	top: 190px;
	left: 10%;
}

#advancing_wallAnim{
	position: absolute;
	height: 50px;
	top: 190px;
	left: 10%;
	animation: slideRightWall 0.9s 0s linear infinite;
}
#shield_smashAnim{
	position: absolute;
	height: 50px;
	top: 190px;
	left: 100px;
}

#venom_spitAnim{
	height: 50px;
	width:  100px;
	position: absolute;

	animation: slideRightSpit 0.9s 0s linear infinite, 
				flipX 0.45s 0s linear alternate infinite;
}

#tauntAnim{
	position: absolute;
	left: 23%;
	height: 50px;
	animation: rotateLeft 0.45s 0s linear alternate infinite;
}

#mezmorizeAnim{
	position: absolute;
	opacity: 1;
	left: 15%;
	height: 80px;
	border-radius: 50%;
	animation: spin 0.2s 0s linear infinite;
}

#mezmorizing_gazeAnim{
	position: absolute;
	opacity: 1;
	left: 15%;
	height: 40px;
	border-radius: 50%;
	animation: spin 0.2s 0s linear infinite, 
				slideRightGaze 0.9s 0s linear infinite;
}
#blood_lustAnim{
	position: absolute;
	left: 140px;
	height: 60px;
	border-radius: 50%;
	z-index: 100;
}

#brilliant_auraAnim{
	z-index: -1;
	position: absolute;
	left: 20px;
	height: 75px;
}
#divine_interventionAnim{
	z-index: -1;
	position: absolute;
	left: 25px;
	height: 100px;
	border-radius: 20%;
}

#unstoppable_frenzyAnim{
	z-index: -1;
	top: 125px;
	position: absolute;
	left: 20px;
	height: 120px;
}
#overwhelmAnim{
	z-index: -1;
	top: 125px;
	position: absolute;
	left: 6%;
	height: 120px;
}

#sufficationAnim{
	position: absolute;
	left: 140px;
	height: 100px;
	width: 50px;
	z-index: 100;
	animation: squeeze 0.8s 0.1s linear alternate infinite;
}
#burning_strikeAnim {
	height: 100px;

	opacity: 0;
	position: absolute;
	animation: slideRight 0.9s 0s linear infinite,
				rotateRight 0.9s 0s linear infinite;
}
#evasive_strikesAnim {
	height: 100px;

	opacity: 0;
	position: absolute;
	animation: slideRight 0.9s 0s linear infinite,
				rotateRight 0.9s 0s linear infinite;
}

#sewing_machineAnim {
	height: 100px;
	transform: rotate(90deg);
	opacity: 1;
	position: absolute;
	animation: slideRightSew 0.3s 0s linear infinite;
}

/* ------------ techAnimations END ------------ */

#difficulty {
	left: -50px;
	height: 50px;
	opacity: 0;
	position: absolute;
	border-radius: 50%;
	animation: spin 0.9s 0s linear alternate infinite;
}

#initiation_frequency {
	height: 100px;

	opacity: 0;
	position: absolute;
	animation: slideRight 0.9s 0s linear infinite,
				rotateRight 0.9s 0s linear infinite;
}
#techBookText {
	height: 40px;
}
#techBookArt {
	height: 40px;
	border-radius: 10%;
}

#initiation_cardio_costsword{
	z-index: 120;
	height: 100px;
	opacity: 0;
	position: absolute;

	animation: slideRightDelay 1.8s 0s linear infinite,
				rotateRightDelay 1.8s 0s linear infinite;
}

#initiation_cardio_costgas {
	border-radius: 20%;
	height: 50px;
	opacity: 0;
	position: absolute;

	animation: growDelay 1.8s 0s linear infinite;
}

#base_cardio_cost{
	border-radius: 20%;
	height: 100px;
	opacity: 0;
	position: absolute;
	animation: grow 0.5s 0s linear alternate infinite;

}



#activeBodyArt {
	height: 100px;
	width: 100px;
}

#activeAnimation{
	height: 100px;
}
#selectedFighterArt {
	height: 90%;
}

#stratParamButtons {
	z-index: 140;
	cursor: pointer;

	text-align: center;
	height: 75px;
	color: white;

	border: medium black solid;
	border-radius: 20%;
    box-shadow: 10px -5px 5px #888888;

}

#managerButtons {
	position: relative;
	margin-left: 60%;
}

#backButton {
	margin-top: 50px;
	text-align: center;
	margin-left: 30%;
	width: 33%;
}

#carouselButtons {
	position: relative;
	margin-left: 45%;
}

#stratDesc {
	height: 400px;
}

#planArt{
	height: 93px;
	cursor: pointer;
	border-radius: 20%;
}

#planName {
	margin-left: 10%;
}