html, body {
    font-size: 1em;
    width: 100%;
    background-color: #eee;
}

#main-container {
    max-width: 1000px;
    margin: 0 auto;
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#watermark {
    opacity: 0.5;
    position: absolute;
    top: 50px;
    font-size: 170px;
    z-index: 1;
    cursor: default;
}

#rewardIcon {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#occupantArt {
    left: 30px;
    position: relative;
    z-index: 10;
    height: 150px;
}
#occupantArt .image {
    height: 150px;
    display: inline-block;
}
#occupantArt .timer {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: beige;
    left: -25px;
    top: -25px;
    position: relative;
    text-align: center;
    border-radius: 15%;
    cursor: default;
}

#talkingModalHeader{

}

#talkingModalHeader .roomGlyph {
    display: inline-block;
    position: relative;
}

#talkingModalHeader .talkingTitle {
    display: inline-block;
    position: relative;
}

#talkingModalBody {
    text-align: center;
    position: relative;
    height: 310px;
    margin-bottom: 10px;
}

#talkingModalBody .bubbleContainer {
    height: 300px;
    width: 200px;
    margin-left: 50px;
    position: relative;
    display: inline-block;
}

#talkingModalBody .bubbleContainerRight {
    height: 300px;
    width: 200px;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    top: -50px;
}

#talkingModalBody .artContainer {
    height: 300px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    display: inline-block;
    top: -10px;
}

#bubble {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #5a8f00;
    border-radius: 20px;
    color: #333;
    margin: 1em 0 3em;
    padding: 50px 25px;
    position: relative;
    text-align: center;
    height: 200px;
    cursor: pointer;
}


#bubble::before {
    background: transparent none repeat scroll 0 0;
    border-bottom-right-radius: 80px 50px;
    border-color: #5a8f00;
    border-style: solid;
    border-width: 0 5px 5px 0;
    bottom: -20px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 35px;
    z-index: 10;
}

#bubble::after{
    background: transparent none repeat scroll 0 0;
    border-bottom-right-radius: 50px 40px;
    border-color: #5a8f00;
    border-style: solid;
    border-width: 0 5px 5px 0;
    bottom: -18px;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    width: 15px;
    z-index: 10;
}

#miseryProgressBar {
    width: 150px; 
    height: 25px; 
    border: medium solid black; 
    background: grey;
    display: inline-block;
    position: relative;
}

#trustBox {
    display: inline-block;
    position: relative;
    top: -25px;
    
}

#bubbleRight {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #5a8f00;
    border-radius: 20px;
    color: #333;
    margin: 1em 0 3em;
    padding: 50px 25px;
    position: relative;
    text-align: center;
    height: 200px;
    cursor: pointer;

}


#bubbleRight::before {
    background: transparent none repeat scroll 0 0;
    border-bottom-right-radius: 80px 50px;
    border-color: #5a8f00;
    border-style: solid;
    border-width: 0 5px 5px 0;
    bottom: -20px;
    content: "";
    display: block;
    height: 20px;
    left: 150px;
    position: absolute;
    transform: scaleX(-1);
    width: 35px;
    z-index: 10;
}

#bubbleRight::after{
    background: transparent none repeat scroll 0 0;
    border-bottom-right-radius: 50px 40px;
    border-color: #5a8f00;
    border-style: solid;
    border-width: 0 5px 5px 0;
    bottom: -18px;
    content: "";
    display: block;
    height: 15px;
    left: 170px;
    position: absolute;
    transform: scaleX(-1);
    width: 15px;
    z-index: 10;
}

#dialogResponse{
    background: grey;
    text-align: left;
}

#dialogResponse .dialog{
    color: white;
    height: 200px;
}

#dialogResponse .rewards {
    color: white;
    height: 200px;
}

#dialogResponse .penalties{
    color: white;
    height: 200px;
}



#talkingModalBody .art{
    height: 300px;
    border-left: black solid 10px;
    border-right: black solid 10px;
    display: inline-block;
    position: relative;
}

#occupantArt .talk{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    background: lime;
    left: 0px;
    border-radius: 15%;
    text-align: center;
    cursor: pointer;
    top: -140px;
    transform: scaleX(-1);
}

#shopButton {
    z-index: 10;
    position: relative;
    width: 150px;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    border-radius: 10%;
    border: medium solid black;
}

#arenas-modal .glyphicon:hover{
    color: #1D8FB5;
    cursor: default;
}

#roomListModal{
    height: 500px;
    overflow: scroll;
}
#roomList {
}

#roomList .basicRooms{
}

#roomCard {
    padding: 10px;
    height: 150px;
}
#roomCardArt{
    border: none;
    text-align: center;
    padding: 15px;
}

#needImg {
    background-color: brown;
    height: 20px;
    border-radius: 25%;
}
#roomCard .glyphicon {
    font-size: 2em;
    border: thin black solid;
    height: 60px;
    width: 100%;
    display: inline-block;
    cursor: default;
}

#roomCard .buyBtn {
    width: 100%;
}

#roomCard .description {
}
#roomCard .art {

}


#personality_tag {
    border: medium solid black;
    width: 40px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

#needs_tag {
    border: medium solid black;
    display: inline-block;
    background-color: brown;
    width: 25px;
    height: 30px;
    cursor: pointer;
}
#needs_tag .need-image{
    z-index: 100;
    width: 20px;
    height: 20px;
}

#needIconContaienr {
    height: 40px;
    display: inline-block;
    position: relative;
}

#needIconContainer .need-icon{
    z-index: 100;
    height: 40px;
    display: inline-block;
    border: black medium solid;
    background: brown;
    border-radius: 15%;
}

#shopButton .need-image{
    height: 25px;
    width: 25px;
    display: inline-block;
}

@keyframes flicker {
    0% {
        opacity: 1;
        border: 4px black solid;
    }
    25%{
        border: 6px pink solid;
    }
    50%{
        border: 4px green solid;
    }
    75% {
        border: 6px yellow solid;
    }
    100%{
        border: 4px brown solid;
    }
}

.flicker{
    animation: flicker 2s 0s linear alternate infinite;
}

.column-center{
    border: black thick solid;
    text-align: left;
    margin-left: 0px;
}

.column-left, .column-right{
    display: inline-block;
}

#pending-challenge-details {
    border-color: #000;
    width: 333px;
}

#pending-challenge-details .alert {
    margin-top: 1em;
}

#pending-challenges img {
    height: 1em;
}

.challenge {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.challenge:hover {
    background-color: #1D8FB5;
    color: white;
}

#pending-challenge-details .coin-img {
    height: 1em;
}

#accept-challenge-btn {
    margin-top: 1em;
}

/*************** Rankings CSS *****************/
#rankings {
    padding: 1em;
}
/*************** Rankings CSS *****************/
