/* Character Portraits + Character Selection Bar START */
#characterSelector-container {
	height: 70px;
	text-align:center;

}

.ng-cloak {
	display: none !important; 
}

.portraitList-container {
	display: inline-block;
}

#eldersPanel {
	height: 100px;
	text-align: center;
}

#elders {
	display: inline-block;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

.provinceArrows {
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
}

.portraitList-container .badge {
	margin-left: -25px;
	background: red;
	z-index: 10;
	cursor: pointer;	
}
.characterPortrait {
	position: relative;
	height:70px;
	border-radius: 50%;
	width: 70px;
	display: inline-block;
	margin: 0 auto; 
	background: grey;
	cursor: pointer;
	text-align: center;
	border: thick black solid;
	overflow: hidden;
}

.characterPortrait-active {
	background: green;
}

.createCharButton {
	position: relative;
	height:70px;
	border-radius: 50%;
	width: 70px;
	display: inline-block;
	margin: 0 auto; 
	background: grey;
	cursor: pointer;
	text-align: center;
	border: thick black solid;
	top: -10px;
	left: 10px;
}

.createCharButton-active {
	background: green;
}

.disabled {
	cursor: not-allowed;
}

.selectedCharacterPortrait {
	position: relative;
	height:70px;
	border-radius: 50%;
	width: 70px;
	display: inline-block;
	margin: 0 auto; 
	background: gold;
	cursor: pointer;
	text-align: center;
	border: thick orange solid;
	overflow: hidden;
}



.flicker {
    animation: flicker 2s 0s linear alternate infinite;
}



.selectedCharacterPortrait .glyphicon-user {
	font-size: 55px;
	margin-top: 5px;
	margin-left: 2px;
}

.characterPortrait .glyphicon-user {
	font-size: 55px;
	margin-top: 5px;
	margin-left: 2px;
}

.createCharButton .glyphicon-plus {
	font-size: 55px;
	margin-top: 0px;
	margin-left: 5px;
}

.pointer {
	cursor: pointer;
}

.center {
	text-align: center;
}

.progress {
	cursor: progress;
}

@keyframes flicker {
    0% {
        opacity: 1;
        border: 4px darkgreen solid;
    }
    25%{
        border: 6px yellow solid;
    }
    50%{
        border: 4px gold solid;
    }
    75% {
        border: 6px orange solid;
    }
    100%{
        border: 4px lime solid;
    }
}
/* Character Portraits + Character Selection Bar END */

/* Main Map Page START */

.red {
	color: red;
}

.top{
	z-index: 100;
}

.inline {
	display: inline-block;
}

.x-flip {
	transform: rotateY(180deg);
}

.glow {
	text-align: center;
	background: yellow;
	border-radius: 35%;
	border-bottom: black thick solid;
}

#worldMap-container {
	position: relative;
	border: black thick solid;
	width: 100%;
	height: 700px;
	top: 10px;
	text-align: center;
}
#provinceTitle {
	display: inline-block;
}

#mapChart {
	position: relative;
	text-align: center;
}

#capital {
	position: relative;
	border: black thick solid;
	width: 90px;
	height: 90px;
    margin: 0 auto; 
    cursor: pointer;
    background: grey;
}

#capital .glyphicon-home {
	font-size: 70px;
	margin-top: 5px;
	margin-left: -4px;
}

#region {
	position: relative;
	border: black thick solid;
	width: 70px;
	height: 70px;
    margin: 0 auto; 
    cursor: pointer;
    background: grey;
    top: 20px;
}

#region .glyphicon-tent {
	font-size: 50px;
	margin-top: 5px;
}

.row {
	position: relative;
}

.fadeRight {
	animation: fadeRight 0.6s 0s linear;
}

.fadeLeft {
	animation: fadeLeft 0.6s 0s linear;
}

.twinkle {
    animation: twinkle 2s 0s linear alternate infinite;
}


#region.youAreHere {
	outline: 8px gold solid;
	background: yellow;
}

#capital.youAreHere {
	outline: 8px gold solid;
	background: yellow;
}

.btn-purple {
	background: orchid;
}

@keyframes fadeLeft {
    0% {
        opacity: 1;
        left: 0px;
    }
    25%{
    	opacity: 0.75;
    	left: -100px;
    }
    50%{
    	opacity: 0.5;
    	left: -200px;
    }
    75% {
    	opacity: 0.25
    	left: -300px;
    }
    100%{
    	opacity: 0; 
    	left: -400px;
    }
}

@keyframes fadeRight {
    0% {
        opacity: 1;
        left: 0px;
    }
    25%{
    	opacity: 0.75;
    	left: 100px;
    }
    50%{
    	opacity: 0.5;
    	left: 200px;
    }
    75% {
    	opacity: 0.25
    	left: 300px;
    }
    100%{
    	opacity: 0; 
    	left: 400px;
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
        color: darkgreen;
    }
    25%{
        color: yellow;
    }
    50%{
        color: gold;
    }
    75% {
        color: orange;
    }
    100%{
        color: lime;
    }
}
/* Main Map Page END */
